@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
    /*background: #F5F5F5;*/
    background: white;
    /*font-family: Ubuntu, sans-serif;*/
    font-family: Arial;
    font-weight: 700;
}

/*----BEGIN CAROUSEL----*/

/*Creates the shadow-box over the carousel slides.*/
.overlay {
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 10%;
    left: 0;
    padding: 25px 2%;
    margin-top: 30px;
    width: 40%;
    color: #FFFFFF;
}

.jumbo {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 7px;
}

.jumbo-mumbo {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 25px;
    line-height: 1.3;
}

.overlay p {
    font-size: 20px;
}

/*Customizes the button colors.*/
.custom-button {
    border-radius: 0px;
    border: none;
    background: #037CFA;
    color: white;
    font-weight: bold;
}

/*Removes default carousel gradients.*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

/*Moves the default carousel indicator position to the right.*/
.carousel-indicators {
    text-align: right;
    float: right;
    right: 2% !important;
    left: inherit;
}

/*Makes the carousel indicators white and adds spacing.*/
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 3px !important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(255, 255, 255, 100);
    border: none;
    border-radius: 10px;
}

/*Makes the active carousel indicator red.*/
.carousel-indicators .active {
    background-color: red;
    border: none;
}

/*----END CAROUSEL----*/

/*----BEGIN REPONSIVE GRID----*/

.photo-grid {
    margin: 1em auto;
    max-width: 1106px;
    text-align: center;
}

.photo-grid li {
    border: 5px solid white;
    display: inline-block;
    margin: 1em;
    max-width: 300px;
    height: 100%;
}

.photo-grid img {
    display: block;
    height: auto;
    max-width: 100%;
}

.photo-grid figure {
    height: 289px;
    overflow: hidden;
    position: relative;
    width: 289px;
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.photo-grid figcaption p {
    display: table-cell;
    font-size: 1.5em;
    position: relative;
    top: -40px;
    width: 289px;
    vertical-align: middle;
}

.photo-grid li:hover figcaption {
    opacity: 1;
}

.photo-grid img {
    display: block;
    height: auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
}

.photo-grid li:hover img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}

.photo-grid figcaption p {
    display: table-cell;
    font-size: 1.5em;
    position: relative;
    top: -40px;
    width: 289px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.photo-grid .zoomed-description {
    font-size: .6em;
}

.photo-grid li:hover figcaption p {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
}

/*Adds "November" to top-right of Women's month div. Decided not to use.*/
.womens-overlay {
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    padding-right: 3%;
    padding-left: 3%;
    color: #FFFFFF;
}

/*----END RESPONSIVE GRID----*/

/*----BEGIN FOOTER----*/

.footer {
    width: 100%;
    margin: 80px auto 0 auto;
    padding: 0 2% 0 2%;
    clear: both;
    overflow: hidden;
}

/*Sets the footer columns and appropriate border-right.*/
.footer .more-links {
    min-height: 430px;
    width: 25%;
    padding: 3%;
    float: left;
    border-right: 2px solid #dcdcdc;
}
.footer .premier-partners { 
    min-height: 430px;
    width: 25%;
    padding: 3%;
    float: left;
    border-right: 2px solid #dcdcdc;
    }
.footer .about {
    min-height: 430px;
    width: 25%;
    padding: 3%;
    float: left;
    border-right: 2px solid #dcdcdc;
}
.footer .contact {
    min-height: 430px;
    width: 25%;
    padding: 3%;
    float: left;
    border-right: none;
}

.more-links h2 {
    padding-bottom: 25px;
}

/*Styles links in footer.*/
.more-links a {
    color: red;
    text-decoration: underline;
    line-height: 1.75;
}

.more-links ul {
    padding-bottom: 25px;
}

.more-links a:hover {
    color: mediumpurple;
}

.social-media li a {
    float: left;
    text-align: center;
}

.social-media li img {
    width: 37px;
    margin: 0 0 0 0;
    position: relative;
    padding-right: 7px;
}

.premier-partners h2 {
    padding-bottom: 25px;
}

.premier-partners li img {
    width: 225px;
}

.about h2 {
    padding-bottom: 25px;
}

.about p {
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 25px;
}

.about li a {
    float: left;
    text-align: center;
}

.about li img {
    width: 120px;
    margin: 0 0 0 0;
    position: relative;
    padding-right: 7px;
}

#mccSpace {
    padding-top: 15%;
}

.contact h2 {
    padding-bottom: 25px;
}

.contact-info {
    line-height: 1.5;
    padding-bottom: 35px;
}

.contact-info address {
    font-style: italic;
    font-weight: 300;
}

.miniMe {
    font-weight: 300;
}

.contact-info a {
    color: red;
    text-decoration: underline;
}

.contact-info a:hover {
    color: mediumpurple;
}

#envelopeColor {
    color: dodgerblue;
}

#signupColor {
    color: #545454;
}

/*----END FOOTER----*/

/*----BEGIN COPYRIGHT----*/

.oneShadeOfGrey {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom:0;
    color: black;
    background-color: #dcdcdc;
}

.oneShadeOfGrey p {
    padding-top: 39px;
    padding-bottom: 39px;
    font-weight: 300;
}

#allRights {
    font-style: italic;
}

/*----END COPYRIGHT----*/

